@font-face {
  font-family: Roboto;
  src: url("fonts/Roboto-Regular.ttf");
}

html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  font-family: Roboto;
  background-color: rgb(10, 10, 10);
}

.s1 {
  position: relative;
  background-color: rgb(7, 7, 7);
  color: white;
  text-align: center;
}

.name {
  font-size: 2.7rem;
  width: 100vw;
}

.des {
  font-size: 1.6rem;
  width: 100vw;
  color: rgb(5, 242, 250);
}

.name-animation {
  animation-name: none;
  animation: name 2s;
}

.des-animation {
  animation-name: none;
  animation: des 2s;
}

#project-jump {
  display: inline-block;
  text-decoration: none;
  border: rgb(5, 242, 250) solid 1px;
  color: white;
  border-radius: 3px;
  padding: 16px;
  transition: transform 1s;
  will-change: transform;
  margin: 1vh;
}

#project-jump:hover {
  transform: scale(1.1);
  background-color: rgb(5, 242, 250);
  color: black;
}

.s2 {
  position: relative;
  background-color: rgb(11, 11, 20);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.portrait {
  width: 100%;
  height: 100vh;
  grid-area: 1/1;
  object-fit: cover;
}

.description {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description > p {
  color: white;
}

.section-heading {
  font-size: 2.5rem;
  color: rgb(5, 242, 250);
}

.s3 {
  color: white;
  position: relative;
  background-color: rgb(10, 10, 10);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.flex-container {
  display: flex;
  min-height: 100%;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 40vw;
  height: auto;
  text-align: center;
  padding: 16px;
  border-radius: 4px;
  background-color: rgb(6, 6, 6);
}

.project-image {
  width: 100%;
  border-radius: 4px;
}

.slide {
  margin-bottom: 8vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.site-link {
  text-decoration: none;
  background-color: #4862d6;
  color: white;
  padding: 6px;
  border-radius: 4px;
  display: inline-block;
  transition: transform 1s;
  will-change: transform;
}

.site-link:hover {
  text-decoration: none;
  background-color: white;
  color: #4862d6;
  transform: scale(1.1);
  padding: 6px;
  border-radius: 4px;
}

.code-link {
  background-color: #d64848;
  color: white;
  margin-right: 2vw;
}

.code-link:hover {
  color: #d64848;
  background-color: white;
}

.links {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.site-links {
  display: flex;
  gap: 1vw;
  justify-content: center;
  align-items: center;
}

.link {
  display: inline-block;
  transition: transform 1s;
  will-change: transform;
}

.link:hover {
  transform: translateY(-1vh);
}

.s4 {
  background-color: rgb(18, 18, 29);
}

h2 {
  text-align: center;
}

p {
  font-size: 1.2rem;
}

@keyframes name {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes des {
  from {
    transform: scale(0);
    opacity: 0;
  }

  to {
    transform: scale(1);
    opacity: 1;
  }
}

@media screen and (max-width: 500px) {
  .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1vh;
  }
}
