html,
body {
  padding: 0;
  margin: 0;
  overflow-x: hidden;
}

.s1 {
  position: relative;
  background-image: url("images/background.jpg");
  background-size: cover;
  color: white;
  text-align: center;
}

.name {
  font-size: 2.3rem;
  width: 100vw;
}

.des {
  font-size: 1.3rem;
  width: 100vw;
}

.name-animation {
  animation-name: none;
  animation: name 2s;
}

.des-animation {
  animation-name: none;
  animation: des 2s;
}

#project-jump {
  display: inline-block;
  text-decoration: none;
  border: white solid 1px;
  color: white;
  border-radius: 3px;
  padding: 16px;
  transition: transform 1s;
  will-change: transform;
  margin: 1vh;
}

#project-jump:hover {
  transform: scale(1.1);
  background-color: white;
  color: black;
}

.s2 {
  position: relative;
  background-color: rgb(5, 4, 24);
}

.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 10px;
}

.portrait {
  width: 100%;
  height: 100vh;
  grid-area: 1/1;
  object-fit: contain;
}

.description {
  grid-column-start: 2;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description > p {
  color: white;
}

.section-heading {
  color: #6343a0;
}

.s3 {
  position: relative;
  background-color: bisque;
}

.s4 {
  position: relative;
  background-color: blueviolet;
}

@keyframes name {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes des {
  from {
    transform: translateX(100%);
    opacity: 0;
  }

  to {
    transform: translateX(0);
    opacity: 1;
  }
}
